@import './../../global-variables.scss';

$fretColor01 : #1C100C;
$fretColor02 : #462C18;

#content {
    // background-color: $gray-800;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    // margin-top: 50%;
    header {
        width: 100%;
        height: 150px;
        // background-color: $background-light;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        #logoContainer {
            width: 200px;
            height: 100%;
            // background-color: $background-dark;
            background-image: radial-gradient(#5a3a23, #5a3a23, #5a3a23, #52341e, #4b301b, #4e311c, #442a18,#2b1b0f, #20140b);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 5px 3px $gray-500;
            svg {
                width: 6%;
                position: absolute;
                // text-shadow: 0px 0px 5px 3px $gray-500;
                filter: drop-shadow(0px 0px 8px $gray-900);
                // box-shadow: 0px 0px 5px 3px $gray-500;
            }
            #logo {
                // background-color: $third-color;
                // width: 100px;
                // height: 100px;
                // margin-left: 3%;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 30px;
                // font-family: Lato;
                color: $text-light;
                font-weight: 700;
                // box-shadow: 0px 0px 5px 3px $gray-500;
                position: relative;
                z-index: 2;
                
                
            }
        }
        .menu_tabs {
            position: relative;  
            margin-left: 1%; 
            box-shadow: 0px 0px 7px 3px $gray-400;
            height: 100%;
            // clear: both;
            // margin: 25px 0;
            display: flex;
            width: 83%;
            flex-direction: column;
            .menu_tab {
                // float: left;  
                // clear: both;
                width: 15%;
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                .tabLabel {
                    background: #eee;
                    border: 1px solid #ccc;
                    margin-left: -1px;
                    font-size: 21px;
                    // vertical-align: middle;
                    // position: relative;
                    // left: 1px;
                    cursor: pointer;
                    width: 100%;
                    display: flex;
                    height: 100%;
                    // padding-left: 50%;
                    text-align: center;
                    // display: table-cell;
                    justify-content: center;
                    align-items: center;
                }
                [type=radio]:checked ~ label {
                    background: white;
                    border-bottom: 2px solid $success;
                    z-index: 2;
                }
                [type=radio]:checked ~ label ~ .menu_content {
                    z-index: 1;
                }
                .menu_content {
                    position: absolute;
                    top: 0;
                    left: 15%;
                    width: auto;
                    background: $background-light;
                    padding: 15px 10px;
                    right: 0;
                    bottom: 0;
                    // display: flex;
                    // padding: 20px;
                    // border: 1px solid #ccc;
                    .content {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        .settingsToggle {
                            display: flex;
                            flex-direction: column;
                            justify-content: baseline;
                            align-items: baseline;
                            width: 240px;
                            .checkBox {
                                display: flex;
                                // width: 20%;
                                height: 30%; 
                                justify-content: center;
                                align-items: center;
                                margin: 6% 12%;
                                // background-color: #1c100c2a;
                                input {
                                    display: none;
                                }
        
                                .checkBoxLabel {
                                    width: 36px;
                                    height: 20px;
                                    margin-left: 18px;
                                    border-radius: 15px;
                                    // background-color: $gray-400;
                                    background-image: radial-gradient( $gray-200,$gray-300,$gray-400, $gray-500);
                                    vertical-align: middle;
                                    text-align: center;
                                    display: flex;
                                    justify-content: baseline;
                                    overflow: hidden;
                                    cursor: pointer;
                                    transition: .9s;
                                    &::after {
                                        content : '';
                                        display: block;
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 100px;
                                        background-color: $gray-500;
                                        box-shadow: 0px 0px 4px 1px $gray-500;
                                        transition: .9s;
        
                                    }
                                }
                                .checkBoxLabel.checked {
                                    justify-content: end;
                                    // transition: .5s;
                                    transition: .9s;
                                    &::after {
                                        background-color: $success;
                                        transition: .9s;
                                    }
                                }
                            }
                        }

                         // SETTINGS INNER TAB
                        .filters {
                            background-color: green;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .selectors {
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                label {
                                    margin-bottom: 3%;
                                }
                            }
                        }
                    }
                    
                    
                    


                }
            }
        }
        .menu_tab [type=radio] {
            display: none;   
        }
    }

    // Fretboard 
    #card {
        // background-color: $background-light;
        width: 95%;
        height: 45%;
        margin-top: 8%;
        #fretboard {
            width: 90%;
            height: 91%;
            margin: 1% 1% 1% 9%;
            box-shadow: 0px 0px 9px 4px $gray-900;
            // background-color: #462C18;
            background-image: radial-gradient(#462C18, $fretColor02, $fretColor02, $fretColor02, $fretColor02, $fretColor02, #332012, $fretColor01, #0a0605);
            position: relative;
            display: flex;
            .fret {
                z-index: 10;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .note {
                    height: 16.7%;
                    width: 7vh;
                    border-radius: 100%;
                    background-color: #6c757d7e;
                    // opacity: 0.7;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    // vertical-align: middle;
                    z-index: 10;
                    font-size: 15px;
                    font-weight: 700;
                    color: $text-light;
                    visibility: hidden;
                    span{
                        display: flex;
                        p {

                            opacity: 1;
                            margin: 0;
                        }
                       
                    }

                }
                .note.show {
                    visibility: visible;
                }
                .doble {
                    font-size: 12px;
                }
                .note.key {
                    background-color: #1ddd4ac0;
                    visibility: visible;
                }
                .note.scale {
                    background-color: #9e7e1ec0;
                    visibility: visible;
                }
                .note.firstNote {
                    font-size: 15px;
                    .second {
                        display: none;
                    }
                }
                .note.secondNote {
                    font-size: 15px;
                    .first {
                        display: none;
                    }
                }
            }
            .marking {
                width: 100%;
                height: 100%;
                left: 0%;
                opacity: .8;
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .dot {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background-color: $gray-300;
                    z-index: 1;
                }
                .second {
                    margin-top: 200%;
                }
            }
            #fret1 {
                width: 10.5%;
                border-right: 0.25vw  solid $gray-300;
            }
            #fret2 {
                width: 10%;
                border-right: 0.25vw  solid $gray-300;
            }
            #fret3 {
                width: 9.5%;
                border-right: 0.25vw  solid $gray-300;
                // // position: relative;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // &::after {
                //     content: '';
                //     position: absolute;
                //     width: 25px;
                //     height: 25px;
                //     background-color: $gray-400;
                //     border-radius: 100%;
                //     display: flex;
                // }
            }
            #fret4 {
                width: 9%;
                border-right: 0.25vw  solid $gray-300;
            }
            #fret5 {
                width: 8.5%;
                border-right: 0.25vw  solid $gray-300;
                // position: relative;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // &::after {
                //     content: '';
                //     width: 25px;
                //     height: 25px;
                //     background-color: $gray-400;
                //     border-radius: 100%;
                //     display: flex;
                // }
            }
            #fret6 {
                width: 8%;
                border-right: 0.25vw  solid $gray-300;
            }
            #fret7 {
                width: 7.5%;
                border-right: 0.25vw  solid $gray-300;
                // position: relative;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // &::after {
                //     content: '';
                //     width: 25px;
                //     height: 25px;
                //     background-color: $gray-400;
                //     border-radius: 100%;
                //     display: flex;
                // }
            }
            #fret8 {
                width: 7.5%;
                border-right: 0.25vw  solid $gray-300;
            }
            #fret9 {
                width: 7.5%;
                border-right: 0.25vw  solid $gray-300;
                // position: relative;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // &::after {
                //     content: '';
                //     width: 25px;
                //     height: 25px;
                //     background-color: $gray-400;
                //     border-radius: 100%;
                //     display: flex;
                // }
            }
            #fret10 {
                width: 7%;
                border-right: 0.25vw  solid $gray-300;
            }
            #fret11 {
                width: 6.5%;
                border-right: 0.25vw  solid $gray-300;
            }
            #fret12 {
                width: 6.5%;
                // position: relative;
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                // align-items: center;
                // &::after {
                //     content: '';
                //     width: 25px;
                //     height: 25px;
                //     background-color: $gray-400;
                //     border-radius: 100%;
                //     display: flex;
                //     margin-top: 100%;
                // }
                // &::before {
                //     content: '';
                //     width: 25px;
                //     height: 25px;
                //     background-color: $gray-400;
                //     border-radius: 100%;
                //     display: flex;
                // }
            }
            .string {
                position: absolute;
                width: 100%;
                z-index: 9;
            }
            #string01 {
                top: 8%;
                // border: 1px solid $gray-400;
                background-color: $gray-400;
                height: 0.1%;
            }
            #string02 {
                top: 24.8%;
                background-color: $gray-400;
                height: 0.1%;
            }
            #string03 {
                top: 41.6%;
                background-color: $gray-400;
                height: 0.5%;
            }
            #string04 {
                top: 58.4%;
                background-color: $gray-400;
                height: 1%;
            }
            #string05 {
                top: 75%;
                background-color: $gray-400;
                height: 1.5%;
            }
            #string06 {
                top: 91.5%;
                background-color: $gray-400;
                height: 2%;
            }
        }
    }
}
