
<!-- <app-fretboard></app-fretboard> -->
<div class="content">
    <header>
        <div id="logoContainer">
            <!-- <img src="assets/pick.svg" alt="Description" /> -->
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="1079.000000pt" height="1280.000000pt" viewBox="0 0 1079.000000 1280.000000"
            preserveAspectRatio="xMidYMid meet">
           <metadata>
           Created by potrace 1.15, written by Peter Selinger 2001-2017
           </metadata>
           <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
           fill="#000000" stroke="none">
           <path d="M4830 12794 c-935 -43 -1710 -175 -2430 -414 -733 -243 -1301 -570
           -1720 -990 -400 -400 -620 -857 -671 -1390 -15 -160 1 -536 32 -775 80 -608
           384 -1553 856 -2660 909 -2132 2275 -4560 3245 -5774 436 -544 765 -812 970
           -788 401 48 1423 1247 2635 3092 1645 2505 2917 5066 2998 6035 3 41 14 131
           23 200 26 191 23 516 -7 683 -66 378 -206 687 -459 1017 -87 113 -350 374
           -487 484 -137 109 -410 292 -575 384 -863 481 -1994 781 -3310 877 -200 15
           -923 27 -1100 19z"/>
           </g>
           </svg>

            <div id="logo">ScalesMap</div>
        </div>
        <div class="menu_tabs">
    
            <div class="menu_tab">
                <input type="radio" id="tab-1" name="tab-group-1" checked>
                <label class="tabLabel" for="tab-1">Filtros</label>
                
                <div class="menu_content">
                    <div class="content">

                        <div class="settingsToggle">
                            <div class="checkBox">
                                <label>Mostrar Notas: </label>
                                <label 
                                    for="showNotes" 
                                    class="checkBoxLabel"
                                    [class.checked]="isCheckedShowNotes"
                                    >
                                </label>
                                <input 
                                    type="checkbox" 
                                    id="showNotes" 
                                    [(ngModel)]="isCheckedShowNotes"
                                />
                            </div>
                            <div class="checkBox">
                                <label>Tema Escuro: </label>
                                <label 
                                    for="darkTheme" 
                                    class="checkBoxLabel"
                                    (click)="toggleDarkThemeCheckbox()"
                                    [class.checked]="isCheckedDarkTheme"
                                    >
                                </label>
                                <input 
                                    type="checkbox" 
                                    id="darkTheme" 
                                    [(ngModel)]="isCheckedDarkTheme"
                                />
                            </div>
                        </div>
                        <!-- <div class="filters"> -->
                            <form class="filters" 
                                (ngSubmit)="onSubmit(filtersForm)"
                                #filtersForm="ngForm"
                                >
                                <div class="formGroup">
                                    <div class="expand" [ngClass]="{'show': isPentatonic}">
                                        <label for="">Escolha a Escala:</label>
                                        <div class="selectors" id="scaleFilter">
                                            
                                            <select 
                                                name="scale" 
                                                id="scale"
                                                ngModel
                                                (change)="onFiltersChange()"
                                                >
                                                <option value="note">Por Nota</option>
                                                <option value="major">Maior</option>
                                                <option value="minor">Menor</option>
                                                <option value="minorPentatonic">Pentatônica Maior</option>
                                                <option value="majorPentatonic">Pentatônica Menor</option>
                                            </select>
                                        </div>
                                        <div class="bluesNote" [ngClass]="{'show': isPentatonic}">
                                            <div class="settingsToggle">
                                                <div class="checkBox">
                                                    <label>Nota Blues: </label>
                                                    <label 
                                                        for="bluesNote" 
                                                        class="checkBoxLabel"
                                                        [class.checked]="isCheckedBluesNote"
                                                        >
                                                    </label>
                                                    <input 
                                                        type="checkbox" 
                                                        id="bluesNote" 
                                                        name="bluesNote" 
                                                        (change)="onFiltersChange()"
                                                        [(ngModel)]="isCheckedBluesNote"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="formGroup">
                                    <label for="">Escolha o Tom:</label>
                                    <div class="selectors" id="keyFilter">
                                        
                                        <select 
                                            name="key" 
                                            id="key"
                                            ngModel
                                            (change)="onFiltersChange()"
                                            >
                                            <option value="C">C</option>
                                            <option value="C2">C#</option>
                                            <option value="Db">Db</option>
                                            <option value="D">D</option>
                                            <option value="D2">D#</option>
                                            <option value="Eb">Eb</option>
                                            <option value="E">E</option>
                                            <option value="F">F</option>
                                            <option value="F2">F#</option>
                                            <option value="Gb">Gb</option>
                                            <option value="G">G</option>
                                            <option value="G2">G#</option>
                                            <option value="Ab">Ab</option>
                                            <option value="A">A</option>
                                            <option value="A2">A#</option>
                                            <option value="Bb">Bb</option>
                                            <option value="B">B</option>
                                        
                                        </select>
                                    </div>
                                </div>
                               
                                <button #filterSubmit >
                                </button>
                            </form>
                        <!-- </div> -->
                    
                    </div>
                </div> 
            </div>
             
            <div class="menu_tab">
                <input type="radio" id="tab-2" name="tab-group-1">
                <label class="tabLabel" for="tab-2">Instrumentos</label>
                
                <div class="menu_content">
                    <app-select-instrument
                        [modal]="false"
                        [instSelectCallBack]="instSelectCallBack"
                        (inst)="instrumentSelected($event)"
                    ></app-select-instrument>
                </div> 
            </div>
             
             <div class="menu_tab">
                <input type="radio" id="tab-3" name="tab-group-1">
                <label class="tabLabel" for="tab-3">Afinador</label>
              
                <!--   -->
            </div>
            
             
         </div>
        <!-- <form action="">
            <label>                
                Filters:
            </label>
        </form> -->
    </header>


    <app-guitar-fretboard 
        [data]="data"
        [isCheckedShowNotes]="isCheckedShowNotes"
        [isCheckedBluesNote]="isCheckedBluesNote"
        *ngIf="inst == 'g6'"
    ></app-guitar-fretboard>

    <app-bass-fretboard
        [data]="data"
        [isCheckedShowNotes]="isCheckedShowNotes"
        [isCheckedBluesNote]="isCheckedBluesNote"
        *ngIf="inst == 'b4'"
    ></app-bass-fretboard>

</div>

<div #instrumentsModal id="instrumentsModal">
    <div>
        <!-- <app-select-instrument
        [modal]="true"
        (inst)="instrumentSelected($event)"
        ></app-select-instrument> -->
        <app-tuner>
            </app-tuner>
    </div>
</div>
