
<div id="card">
    <div class="openNotes fretboard">
        <div class="fret" id="fret0">
            
            <div #E #note class="note E"><p>E</p></div>
            <div #B #note class="note B"><p>B</p></div>
            <div #G #note class="note G"><p>G</p></div>
            <div #D #note class="note D"><p>D</p></div>
            <div #A #note class="note A"><p>A</p></div>
            <div #E #note class="note E"><p>E</p></div>
        </div>
    </div>
    
    <div #fretboard class="fretboard">
        
        <div class="fret" id="fret1">
            <div #F #note class="note F"><p>F</p></div>
            <div #C #note class="note C"><p>C</p></div>
            <div #GAb #note class="note doble GAb"><p><span class="first">G#</span><span class="second">Ab</span></p></div>
            <div #DEb #note class="note doble DEb"><p><span class="first">D#</span><span class="second">Eb</span></p></div>
            <div #ABb #note class="note doble ABb"><p><span class="first">A#</span><span class="second">Bb</span></p></div>
            <div #F #note class="note F"><p>F</p></div>
        </div>
        <div class="fret" id="fret2">
            <div #FGb #note class="note doble FGb"><p><span class="first">F#</span><span class="second">Gb</span></p></div>
            <div #CDb #note class="note doble CDb"><p><span class="first">C#</span><span class="second">Db</span></p></div>
            <div #A #note class="note A"><p>A</p></div>
            <div #E #note class="note E"><p>E</p></div>
            <div #B #note class="note B"><p>B</p></div>
            <div #FGb #note class="note doble FGb"><p><span class="first">F#</span><span class="second">Gb</span></p></div>
        </div>
        <div class="fret" id="fret3">
            <div class="marking">
                <div class="dot"></div>
            </div>
            <div #G #note class="note G"><p>G</p></div>
            <div #D #note class="note D"><p>D</p></div>
            <div #ABb #note class="note doble ABb"><p><span class="first">A#</span><span class="second">Bb</span></p></div>
            <div #F #note class="note F"><p>F</p></div>
            <div #C #note class="note C"><p>C</p></div>
            <div #G #note class="note G"><p>G</p></div>
        </div>
        <div class="fret" id="fret4">
            <div #GAb #note class="note doble GAb"><p><span class="first">G#</span><span class="second">Ab</span></p></div>
            <div #DEb #note class="note doble DEb"><p><span class="first">D#</span><span class="second">Eb</span></p></div>
            <div #B #note class="note B"><p>B</p></div>
            <div #FGb #note class="note doble FGb"><p><span class="first">F#</span><span class="second">Gb</span></p></div>
            <div #CDb #note class="note doble CDb"><p><span class="first">C#</span><span class="second">Db</span></p></div>
            <div #GAb #note class="note doble GAb"><p><span class="first">G#</span><span class="second">Ab</span></p></div>
        </div>
        <div class="fret" id="fret5">
            <div class="marking">
                <div class="dot"></div>
            </div>
            <div #A #note class="note A"><p>A</p></div>
            <div #E #note class="note E"><p>E</p></div>
            <div #C #note class="note C"><p>C</p></div>
            <div #G #note class="note G"><p>G</p></div>
            <div #D #note class="note D"><p>D</p></div>
            <div #A #note class="note A"><p>A</p></div>
        </div>
        <div class="fret" id="fret6">
            <div #ABb #note class="note doble ABb"><p><span class="first">A#</span><span class="second">Bb</span></p></div>
            <div #F #note class="note F"><p>F</p></div>
            <div #CDb #note class="note doble CDb"><p><span class="first">C#</span><span class="second">Db</span></p></div>
            <div #GAb #note class="note doble GAb"><p><span class="first">G#</span><span class="second">Ab</span></p></div>
            <div #DEb #note class="note doble DEb"><p><span class="first">D#</span><span class="second">Eb</span></p></div>
            <div #ABb #note class="note doble ABb"><p><span class="first">A#</span><span class="second">Bb</span></p></div>
        </div>
        <div class="fret" id="fret7">
            <div class="marking">
                <div class="dot"></div>
            </div>
            <div #B #note class="note B"><p>B</p></div>
            <div #FGb #note class="note doble FGb"><p><span class="first">F#</span><span class="second">Gb</span></p></div>
            <div #D #note class="note D"><p>D</p></div>
            <div #A #note class="note A"><p>A</p></div>
            <div #E #note class="note E"><p>E</p></div>
            <div #B #note class="note B"><p>B</p></div>
        </div>
        <div class="fret" id="fret8">
            <div #C #note class="note C"><p>C</p></div>
            <div #G #note class="note G"><p>G</p></div>
            <div #DEb #note class="note doble DEb"><p><span class="first">D#</span><span class="second">Eb</span></p></div>
            <div #ABb #note class="note doble ABb"><p><span class="first">A#</span><span class="second">Bb</span></p></div>
            <div #F #note class="note F"><p>F</p></div>
            <div #C #note class="note C"><p>C</p></div>
        </div>
        <div class="fret" id="fret9">
            <div class="marking">
                <div class="dot"></div>
            </div>
            <div #CDb #note class="note doble CDb"><p><span class="first">C#</span><span class="second">Db</span></p></div>
            <div #GAb #note class="note doble GAb"><p><span class="first">G#</span><span class="second">Ab</span></p></div>
            <div #E #note class="note E"><p>E</p></div>
            <div #B #note class="note B"><p>B</p></div>
            <div #FGb #note class="note doble FGb"><p><span class="first">F#</span><span class="second">Gb</span></p></div>
            <div #CDb #note class="note doble CDb"><p><span class="first">C#</span><span class="second">Db</span></p></div>
        </div>
        <div class="fret" id="fret10">
            <div #D #note class="note D"><p>D</p></div>
            <div #A #note class="note A"><p>A</p></div>
            <div #F #note class="note F"><p>F</p></div>
            <div #C #note class="note C"><p>C</p></div>
            <div #G #note class="note G"><p>G</p></div>
            <div #D #note class="note D"><p>D</p></div>
        </div>
        <div class="fret" id="fret11">
            <div #DEb #note class="note doble DEb"><p><span class="first">D#</span><span class="second">Eb</span></p></div>
            <div #ABb #note class="note doble ABb"><p><span class="first">A#</span><span class="second">Bb</span></p></div>
            <div #FGb #note class="note doble FGb"><p><span class="first">F#</span><span class="second">Gb</span></p></div>
            <div #CDb #note class="note doble CDb"><p><span class="first">C#</span><span class="second">Db</span></p></div>
            <div #GAb #note class="note doble GAb"><p><span class="first">G#</span><span class="second">Ab</span></p></div>
            <div #DEb #note class="note doble DEb"><p><span class="first">D#</span><span class="second">Eb</span></p></div>
        </div>
        <div class="fret" id="fret12">
            <div class="marking">
                <div class="dot"></div>
                <div class="dot second"></div>
            </div>
            <div #E #note class="note E"><p>E</p></div>
            <div #B #note class="note B"><p>B</p></div>
            <div #G #note class="note G"><p>G</p></div>
            <div #D #note class="note D"><p>D</p></div>
            <div #A #note class="note A"><p>A</p></div>
            <div #E #note class="note E"><p>E</p></div>
        </div>

        <div class="string" id="string01"></div>
        <div class="string" id="string02"></div>
        <div class="string" id="string03"></div>
        <div class="string" id="string04"></div>
        <div class="string" id="string05"></div>
        <div class="string" id="string06"></div>
    </div>
</div>
