/* You can add global styles to this file, and also import other style files */
@import './global-variables.scss';
@import './fonts.scss';

html, body { 
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    display: grid;
    background-color: $gray-300;
    overflow-x:hidden;
    
}
body { margin: 0; font-family: 'Lato', sans-serif; }

// @media only screen and (orientation:landscape) {
//     body {
//         // transform: rotate(90deg);
//     }
// }

// @media screen and (orientation: landscape) {
//     body {
//       transform: rotate(90deg);
//       transform-origin: center;
//       width: 100vh;
//       height: 100vw;
//       overflow-x: hidden;
//       position: fixed;
//       top: 0;
//       left: 0;
//     }
//   }